/*! Adapted from modern-normalize v3.0.1 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*  -webkit
 *  1. Remove the inner padding in Chrome and Safari on macOS. 
 *  2. Correct the cursor style of increment and decrement buttons in Safari.
 *  3. Correct the inability to style clickable types in iOS and Safari.
 *  4. Change font properties to 'inherit' in Safari.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
} /* 1 */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
} /* 2 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 3 */
  font: inherit; /* 4 */
}
[type="search"] {
  /* Correct the odd appearance in Chrome and Safari */
  -webkit-appearance: textfield;
  appearance: textfield;
  /* Correct the outline style in Safari. */
  outline-offset: -2px;
}

/* Root and Document */
html, body, 
/* Sectioning */
main, article, section, nav, 
aside, header, footer, hgroup, 
/* Headings */
h1, h2, h3, h4, h5, h6, 
/* Text-level Semantics */
p, a, q, s, b, u, i, address, strong, 
samp, big, cite, code, del, dfn, blockquote, 
pre, wbr, abbr, acronym, em, ins, kbd,  
small, strike, sub, sup, tt, var, center, 
mark, bdi, bdo, data, time, output, meter, 
/* Embedded Content */
img, picture, canvas, svg, object, 
embed, iframe, applet, video, audio, 
source, track, map, area, 
/* Scripting and Web Components */
template, slot, noscript, 
/* Forms */
form, fieldset, legend, label, input, 
button, select, datalist, optgroup, 
option, textarea, output, 
/* Lists */
ul, ol, li, dl, dt, dd, menu, 
/* Tables */
table, caption, tbody, tfoot, 
thead, tr, th, td, col, colgroup, 
/* Interactive Elements */
details, summary, dialog, 
/* Figure */
figure, figcaption, 
/* Ruby Annotations */
ruby, rt, rp, 
/* Misc */
div, span {
  margin: 0;
  padding: 0;
  border: none;
  background-color: inherit;
  font: inherit;
  color: inherit;
}
/* Ensure Semantic Flow tags default to Block */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
  display: block;
}
fieldset {
  min-width: 0;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Prevent 'sub' and 'sup' elements from affecting the line height in all browsers. */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
b,
strong {
  font-weight: bolder;
}
small {
  font-size: 80%;
}

:root {
  --font-family:
    "Ubuntu", "Segoe UI", "Roboto", "Helvetica Neue", sans-serif, system-ui,
    "Apple Color Emoji", "Segoe UI Emoji";
  --font-family-mono:
    "Ubuntu Mono", "SFMono-Regular", "Consolas", "Liberation Mono", monospace;
  --line-height: 1.5;
  --letter-spacing: 0.01em;
  --font-size: 20px;

  --transition-duration: 0.1s;

  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;

  --border-radius: 0.5rem;
  --border-width: 1px;
  --color-border: var(--light-color-border);
  --border: var(--border-width) solid var(--color-border);

  --thin: 100;
  --extra-light: 200;
  --light: 300;
  --normal: 400;
  --medium: 500;
  --semi-bold: 500;
  --bold: 600;
  --extra-bold: 700;
  --black: 900;

  --outline-width: 2px;
  --color-outline: var(--light-color-outline);
  --outline: var(--outline-width) solid var(--color-outline);

  --elevation-base-y-offset: 1.5px;
  --elevation-base-blur: 3px;

  --elevation-low: 0 var(--elevation-base-y-offset) var(--elevation-base-blur)
    var(--color-shadow);
  --elevation-medium: 0 calc(var(--elevation-base-y-offset) * var(2))
    calc(var(--elevation-base-blur) * 2) var(--color-shadow);
  --elevation-high: 0 calc(var(--elevation-base-y-offset) * 4)
    calc(var(--elevation-base-blur) * 4) var(--color-shadow);

  --interactive-element-transition:
    background-color var(--transition-duration) ease,
    color var(--transition-duration) ease,
    border-color var(--transition-duration) ease,
    box-shadow var(--transition-duration) ease;

  /** Light mode tokens */
  --light-color-bg: #fcfaff;
  --light-color-fg: #1f0044;
  --light-color-primary: #5b21b6;
  --light-color-accent: #4c1d95;
  --light-color-emphasis: #3c0d99;
  --light-color-muted: #4d4d6a;
  --light-color-border: var(--light-color-emphasis);
  --light-color-outline: var(--light-color-emphasis);
  --light-color-shadow: var(--light-color-emphasis);

  /* Dark mode tokens */
  --dark-color-bg: #0f0e11;
  --dark-color-fg: #fcfaff;
  --dark-color-primary: #d8b4fe;
  --dark-color-accent: #a78bfa;
  --dark-color-emphasis: #f3e8ff;
  --dark-color-muted: #c9b8d1;
  --dark-color-border: var(--dark-color-emphasis);
  --dark-color-outline: var(--dark-color-emphasis);
  --dark-shadow-color: var(--dark-color-emphasis);

  --color-bg: var(--light-color-bg);
  --color-fg: var(--light-color-fg);
  --color-primary: var(--light-color-primary);
  --color-accent: var(--light-color-accent);
  --color-emphasis: var(--light-color-emphasis);
  --color-muted: var(--light-color-muted);

  --color-shadow: var(--light-color-shadow);
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 1.125rem;
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: 0.875rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--bold);
  line-height: 1.2;
}
hr {
  border-top: var(--border);
  width: 100%;
}
code,
kbd,
samp,
pre {
  font-family: var(--font-family-mono);
  font-size: 1em;
  font-weight: normal;
  letter-spacing: 0;
}

html {
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  cursor: auto;
  tab-size: 4;
  /* Prevent adjustments of font size after orientation changes in iOS. */
  -webkit-text-size-adjust: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  overflow-wrap: break-word;
  word-break: break-word;
  scroll-behavior: smooth;
  scrollbar-gutter: stable both-edges;
}

body {
  flex: 1;
  display: flex;
  flex-direction: column;
  transition:
    background-color var(--transition-duration) ease,
    color var(--transition-duration) ease;
  background-color: var(--color-bg);
  color: var(--color-fg);
}

main {
  flex: 1;
}

button,
a,
select,
option,
video,
details > summary,
[role="button"],
[type="button"],
[type="reset"],
[type="submit"],
label[for],
input[type="checkbox"],
input[type="radio"],
input[type="file"],
input[type="range"],
input[type="color"],
input[type="image"] {
  cursor: pointer;
}

input,
textarea {
  &:focus {
    outline: var(--outline);
  }
  &:hover,
  &:active {
    border-color: var(--color-primary);
    box-shadow: var(--elevation-low);
    transition:
      border-color var(--interactive-element-transition),
      box-shadow var(--interactive-element-transition);
  }
}

*:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
:focus-visible {
  outline: var(--outline);
}
:focus:not(:focus-visible) {
  outline: none;
}
a {
  color: var(--color-primary);
  text-decoration: underline;
  cursor: pointer;
  text-decoration-skip-ink: auto;
  &:focus,
  &:hover,
  &:active {
    color: var(--color-accent);
    text-decoration: none;
    outline: auto;
  }
  &:visited {
    color: var(--color-muted);
  }
}

/*  1. Correct the inability to style clickable types in iOS and Safari. */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: none; /* 1 */
  appearance: none; /* 1 */
  &:hover,
  &:focus,
  &:active {
    background-color: var(--color-accent);
    color: var(--color-bg);
    border-color: var(--color-primary);
    box-shadow: var(--elevation-low);
    transition: var(--interactive-element-transition);
  }
}
input,
select,
textarea {
  &:hover,
  &:focus,
  &:active {
    box-shadow: var(--elevation-low);
    transition: var(--interactive-element-transition);
  }
}
button,
input,
select,
textarea,
[type="button"],
[type="reset"],
[type="submit"] {
  overflow: visible;
}
/* Does not work in Firefox currently */
body:has(dialog[open]) {
  overflow: hidden;
}
dialog[open] {
  background-color: var(--color-bg);
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--elevation-medium);
  padding: var(--spacing-md);
  margin: var(--spacing-sm);
  max-width: calc(100vw - (var(--spacing-md) * 2));
  max-height: calc(100vh - (var(--spacing-sm) * 2));
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  justify-content: center;
  align-items: center;
  justify-self: center;
  align-self: center;
}

table {
  /* Correct table border color inheritance in Chrome and Safari. (https://issues.chromium.org/issues/40615503, https://bugs.webkit.org/show_bug.cgi?id=195016) */
  border-color: currentcolor;
  border-collapse: collapse;
  border-spacing: 0;
  caption-side: bottom;
}

button,
input,
optgroup,
select,
textarea {
  /* Change the font styles in all browsers. */
  font-family: inherit;
  font-size: 100%;
  background-color: inherit;
  color: inherit;
  padding: var(--spacing-sm);
  vertical-align: baseline;
}
/* Add the correct display in Chrome and Safari.  */
summary {
  display: list-item;
}
ul,
ol,
menu {
  list-style: none;
}
ol {
  counter-reset: list-counter;
}
ol li::before {
  counter-increment: list-counter;
  font-weight: var(--bold);
  content: counter(list-counter) ". ";
}
ul li::before {
  content: "• ";
  font-weight: var(--bold);
}
blockquote,
q {
  quotes: none;
}
progress,
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object,
sub,
sup {
  vertical-align: baseline;
  max-width: 100%;
  height: auto;
}
label,
input,
button,
select,
textarea {
  vertical-align: middle;
}
img {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}
svg {
  display: inline-block;
  fill: currentColor;
}
input:not([type="hidden"]),
textarea,
select,
button,
fieldset,
meter,
details,
dialog,
table,
th,
td {
  border: var(--border);
  border-radius: var(--border-radius);
  padding: var(--spacing-sm);
}
progress {
  border: var(--border);
  border-radius: var(--border-radius);
}
legend {
  font-weight: bold;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: var(--dark-color-bg);
    --color-fg: var(--dark-color-fg);
    --color-primary: var(--dark-color-primary);
    --color-accent: var(--dark-color-accent);
    --color-emphasis: var(--dark-color-emphasis);
    --color-muted: var(--dark-color-muted);
    --color-border: var(--dark-color-border);
    --color-outline: var(--dark-color-outline);
    --color-shadow: var(--dark-shadow-color);
  }
}

/* Makes the element invisible to screen readers, but remains included in the layout and is still available visually */
[aria-hidden="true"] {
  visibility: hidden;
}
/* Hide elements completely (from layout and screen readers) */
[hidden],
.hidden,
[data-hidden] {
  display: none;
  pointer-events: none;
}

/* Hide elements visually but keep them available to screen readers */
.visually-hidden,
[data-hidden="visually"] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  opacity: 0;
}
